body{
    font-family: 'Barlow', sans-serif;
}
/****NAVBAR****/
.nav-item{
    letter-spacing: .2em;
    font-size:14px;
    text-transform: uppercase;
}
.dropdown-item{
    letter-spacing: .2em;
    font-size:14px;
    text-transform: uppercase;
}
.nav-link{
    font-size: 14px;
    text-transform: uppercase;
}
/****FOOTER****/
.my_footer{
     background-color:white;
     height:60px
}
.my_footer p{
     font-color: #404040;
     letter-spacing: .2em;
     padding-top:: 20px;
     font-size:14px;

}
/****CATEGORY PAGE****/
.my_row_class{
    padding-top: 20px;
}
.my_row_class .mx-auto p a{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    letter-spacing:.2em;
}
.my_image{
    width:100%;
    height:auto;
}
.my_title{

    font-size:20px;
    text-transform:uppercase;
    letter-spacing: .2em;
}
.my_image_padding{
    padding-top:10px;
}

.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h4{
    font-size: 20px;
    text-transform:uppercase;
    letter-spacing:.2em
}
.my_prod_class{
    padding-bottom:20px;
    padding-top:20px;
}
.my_prod_class .mx-auto p a{
    color: #000;
    font-size:20px;
    letter-spacing:.2em;
    text-transform:uppercase;
    text-decoration:none;
}
.my_prod_title {
    font-size:20px;
    letter-spacing:.2em;
    text-transform:uppercase;
    padding-top:10px;
    padding-bottom:15px;
}
.my_search_text{

padding-top:20px;
}
.my_custom_table{

min-width:400px;
font-size:14px;
}
.my_custom_thead{
    width:100px;
    height:100px;
}
.custom_a{
    text-decoration:none;
}
.custom_image{
    width:100px;
    height:100px;
}
.custom_icon{
    text-decoration:none;
    color: #868e96;
}
.my_custom_button
{
    margin-top:5px;
}